* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
  /* Body of the page */
  body{
    text-align: center;
    background-color: rgb(59, 59, 57);
    font-family: 'Oswald', sans-serif;
  }
/* Landing page image */
/* The main div holding everything with hero image needed for zoom effect, code got from Love running video*/
#landingPage {
    height: auto;
    width:100%;
    overflow: hidden;
    position: relative;
  }

  #gameTitle{
    font-size: 30px;
    color: white;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  /* Hero image styling, giving a responsive design */
  #firstP img {
    height: auto;
    width:80%;
    box-shadow: 0px 0px 10px 10px #3b51ab;
  
    /*Creates zoom effect for image, code from running loving video */
    animation-name:hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }
  
  /* Create a zoom effect for hero image, code from loving running video*/
  
  @keyframes hero-zoom {
    from{
      transform: scale(1);
    }
    to{
      transform: scale(1.1);
    }
  }

    /* Hero image styling, giving a responsive design */
    #secondP img {
      height: auto;
      width:80%;
      box-shadow: 0px 0px 10px 10px #3b51ab;
    
      /*Creates zoom effect for hero, code from running loving video */
      animation-name:hero-zoom;
      animation-duration: 4s;
      animation-fill-mode: forwards;
    }
    
    /* Create a zoom effect for hero image, code from loving running video*/
    
    @keyframes hero-zoom {
      from{
        transform: scale(1);
      }
      to{
        transform: scale(1.1);
      }
    }
  

  /* Code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_button_on_image*/
  /* First page styling of the button */
  #landingPage {
    position: relative;
    width: 100%;
  }
   /* Centers the button to the middle of the image */
  #landingPage #begin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #3b51ab;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  #landingPage #begin:hover {
    background-color: rgb(71, 67, 67);
  }

  #rulesPage #rules:hover {
    background-color: rgb(71, 67, 67);
  }

  #rulesPage {
    position: relative;
    width: 100%;
    display:none;
  }
   /* Centers the button to the middle of the image */
  #rulesPage #rules {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #3b51ab;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  #landingPage #begin:hover {
    background-color: black;
  }
 /* */
 #rulesPage #play{
  background-color: whitesmoke;
  color: black;
  font-size: 18px;
  padding: 12px 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
 }
 #rulesPage #play:hover {
  background-color: rgb(74, 99, 222);
}

#rulesPage #exist{
  background-color: whitesmoke;
  color: black;
  font-size: 18px;
  padding: 12px 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
 }
 #rulesPage #exist:hover {
  background-color: rgb(74, 99, 222);
}
 
   /* ---------------------------------------------------------------- */

   /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(37, 90, 169); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(176, 170, 170);
  margin: auto;
  border-radius:25px;
  padding: 10px;
  border: 10px solid rgb(74, 99, 222);
  width: 60%;
  box-shadow: 8px 8px 8px 8px rgb(202, 203, 207),20px 20px 20px 0 rgb(202, 203, 207);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.8s;
  animation-name: animatetop;
  animation-duration: 0.8s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: rgb(11, 11, 11);
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #0d6595;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 10px;
  background-color: rgba(176, 170, 170, 0.9);
  color: black;
}

.modal-body {
  padding: 2px 10px;
  background-color: rgba(176, 170, 170, 0.9);
  color: black;
}

.modal-footer {
  padding: 2px 10px;
  background-color: rgba(176, 170, 170, 0.9);
  color: black;
}


#gameTop{
  display: flex;
  flex-direction: row;
}

#counter{
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: #0c0c0c;
  text-align: center;
  background: whitesmoke;
  margin-left : 130px;
}

#timer{
  text-align: center;
  color:black;
  padding-top: 2%;
}

#gameArea{
  display:none;
  border-left: 250px solid #3b51ab;
  border-right: 250px solid #3b51ab;
}

.questions_box {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.option-left {
  background-color: #0f1cc68d;
  padding: 2px;
  flex: 50%;
  float: right;
}

.option-right {
  background-color: #0f1cc68d;
  padding: 2px;
  flex: 50%;
}

#question {
  color:white;
  border:2px solid #3b51ab;
  border-left: 240px solid #3b51ab;
  border-right: 240px solid #3b51ab;
  padding: 20px;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 430px) {
  .questions_box {
    flex-direction: column;
  }
  #gameArea {
    border-left: 5px;
    border-right: 5px;
    text-align: center;
  } 
  #counter {
    text-align: center;
  }
  .option-left {
    float:none;
    padding-right: 25%;
  }
  .option-right {
    float:none;
    padding-left: 26%;
  }
  #landingPage #begin{
    font-size: medium;
  }
}

@media (max-width: 410px) {
  .questions_box {
    flex-direction: column;
  }
  #counter {
    text-align: center;
  }
  .option-left {
    float:none;
    padding-right: 35%;
  }
  .option-right {
    float:none;
    padding-left: 25%;
  }
}
@media (max-width: 415px) {
  #counter {
    margin-left : 135px;
  }
  .option-left {
    padding-right: 25%;
  }
  .option-right {
    float:none;
    padding-left: 24%;
  }
  #timeGauge{
    margin-top : 2px;
    margin-left : 50px;
  }
  #landingPage #begin{
    font-size:smaller;
    padding: 8px 14px;
  }
}
@media (max-width: 394px) {
  #counter {
    text-align: center;
  }
  .option-left {
    padding-right: 22%;
  }
  .option-right {
    float:none;
    padding-left: 25%;
  }
}
@media (max-width: 376px) {
  #counter {
    margin-left : 135px;
  }
  #timeGauge {
    display: none;
  }
  .option-left {
    padding-right: 22%;
  }
  .option-right {
    float:none;
    padding-left: 22%;
  }
  
}

@media (max-width: 361px) {
  #counter {
    margin-left : 135px;
  }
  #timeGauge {
    display: none;
  }
  .option-left {
    padding-right: 21%;
  }
  .option-right {
    float:none;
    padding-left: 21%;
  }
  
}

@media (max-width: 352px) {
  #counter {
    margin-left : 120px;
  }
  .option-left {
    padding-right: 20%;
  }
  .option-right {
    float:none;
    padding-left: 20%;
  }
  #landingPage #begin{
    font-size:x-small;
    padding: 5px 10px;
  }
}
@media (max-width: 348px) {
  #counter {
    margin-left : 130px;
  }
  #timeGauge{
    margin-top : 2px;
    margin-left : 0px;
  }
  .option-left {
    padding-right: 18%;
  }
  .option-right {
    float:none;
    padding-left: 21%;
  }
  #landingPage #begin{
    font-size:x-small;
    padding: 8px 5px;
  }
}
@media (max-width: 340px) {
  #counter {
    margin-left : 130px;
  }
  #timeGauge{
    margin-top : 2px;
    margin-left : 0px;
  }
  .option-left {
    padding-right: 19%;
  }
  .option-right {
    float:none;
    padding-left: 20%;
  }
}
@media (max-width: 335px) {
  #counter {
    margin-left : 145px;
  }
  #timeGauge{
    margin-top : 2px;
    margin-left : 0px;
  }
  .option-left {
    padding-right: 17%;
  }
  .option-right {
    float:none;
    padding-left: 19%;
  }
  #landingPage #begin{
    font-size:x-small;
    padding: 5px 3px;
  }
}

@media (max-width: 328px) {
  #counter {
    margin-left : 140px;
  }
  #timeGauge{
    margin-top : 2px;
    margin-left : 0px;
  }
  .option-left {
    padding-right: 18%;
  }
  .option-right {
    float:none;
    padding-left: 17%;
  }
  #landingPage #begin{
    font-size:x-small;
    padding: 5px 3px;
  }
}



@media (max-width: 780px) {
  #question {
    color: white;
    border: 2px solid #3b51ab;
    border-left: 10px solid #3b51ab;
    border-right: 10px solid #3b51ab;
    padding: 0px;
  }
  #landingPage #begin{
    font-size: medium;
  }

}

@media (max-width: 1176px) {
 
  #gameArea {
    border-left: 0px solid #3b51ab;
    border-right: 0px solid #3b51ab;
  } 
}

.card_right {
  box-shadow: 0 4px 12px 0 rgba(245, 242, 242, 0.9);
  width: 210px;
  border-radius: 5px;
}

.card_left{
  box-shadow: 0 4px 12px 0 rgba(245, 242, 242, 0.9);
  width: 210px;
  border-radius: 5px;
  float: right;
}

img {
  border-radius: 9px 9px 9px 9px;
}

#qImg img, #qImg1 img{
  width: 200px;
  height:auto;
}

.options:hover{
  border : 2px solid rgb(245, 244, 244);
  font-weight: bold;
  background-color: rgb(174, 77, 77);
}

.options{
  border : 2px solid rgb(245, 244, 244);
  font-weight: bold;
  background-color: whitesmoke;
  font-size: 25px;
}

#gameTop{
  display: inline-block;
  vertical-align: middle;
}

#timeGauge{
  background-color: rgb(210, 46, 46);
  margin-top : 5px;
  margin-left : 80px;
  height : 15px;
  border-radius: 15px;
}
#progress{
  padding:2px;
  text-align: center;
}
.prog{
  width : 18px;
  height : 18px;
  border: 2px solid #e2dddd;
  display: inline-block;
  border-radius: 50%;
  margin-left : 2px;
  margin-right : 2px;
}

/* The Modal (background) */
.modalResults {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentResults {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.closeResults {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#score {
  color: aqua;
  font-size: 20%;
}

button{
  background-color: whitesmoke;
  color: black;
  font-size: 18px;
  padding: 12px 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
 }
 #rulesPage #play:hover {
  background-color: rgb(74, 99, 222);
}

#rulesPage #exist{
  background-color: whitesmoke;
  color: black;
  font-size: 18px;
  padding: 12px 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
 }
 #rulesPage #exist:hover {
  background-color: rgb(74, 99, 222);
}