* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }
  /* Body of the page */
  body{
    text-align: center;
    background-color: rgb(59, 59, 57);
  }
/* Landing page image */
/* The main div holding everything with hero image needed for zoom effect, code got from Love running video*/
#landingPage {
    height: auto;
    width:100%;
    overflow: hidden;
    position: relative;
  }

  #gameTitle{
    font-size: 30px;
    color:#d37b75;
  }
  /* Hero image styling, giving a responsive design */
  #firstP img {
    height: auto;
    width:80%;
    box-shadow: 0px 0px 10px 10px rgb(200, 1, 1);
  
    /*Creates zoom effect for hero, code from running loving video */
    animation-name:hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  
  /* Create a zoom effect for hero image, code from loving running video*/
  
  @keyframes hero-zoom {
    from{
      transform: scale(1);
    }
    to{
      transform: scale(1.1);
    }
  }

    #rulesPage{
      display:none;
    }
    /* Hero image styling, giving a responsive design */
    #secondP img {
      height: auto;
      width:80%;
      box-shadow: 0px 0px 10px 10px rgb(200, 1, 1);
    
      /*Creates zoom effect for hero, code from running loving video */
      animation-name:hero-zoom;
      animation-duration: 5s;
      animation-fill-mode: forwards;
    }
    
    /* Create a zoom effect for hero image, code from loving running video*/
    
    @keyframes hero-zoom {
      from{
        transform: scale(1);
      }
      to{
        transform: scale(1.1);
      }
    }
  

  /* Code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_button_on_image*/
  /* First page styling of the button */
  #landingPage {
    position: relative;
    width: 100%;
  }
   /* Centers the button to the middle of the image */
  #landingPage #begin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #cf6161e6;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  #landingPage #begin:hover {
    background-color: rgb(71, 67, 67);
  }

  #rulesPage #rules:hover {
    background-color: rgb(71, 67, 67);
  }

  #rulesPage {
    position: relative;
    width: 100%;
  }
   /* Centers the button to the middle of the image */
  #rulesPage #rules {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #cf6161e6;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  #landingPage #begin:hover {
    background-color: black;
  }
 /* Create a zoom effect for hero image, code from loving running video*/

 
   /* ---------------------------------------------------------------- */

   /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #d37b75;
  color: black;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #d37b75;
  color: white;
}

#gameTop{
  display: flex;
  flex-direction: row;
}

#timer{
  text-align: center;
}

#gameArea{
  display:none;
}

.questions_box {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.option-left {
  background-color: #0f1cc68d;
  padding: 10px;
  flex: 50%;
  float: right;
}

.option-right {
  background-color: #0f1cc68d;
  padding: 10px;
  flex: 50%;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .questions_box {
    flex-direction: column;
  }
}
.card_right {
  box-shadow: 0 4px 12px 0 rgba(245, 242, 242, 0.9);
  width: 45%;
  border-radius: 5px;
}

.card_left{
  box-shadow: 0 4px 12px 0 rgba(245, 242, 242, 0.9);
  width: 45%;
  border-radius: 5px;
  float: right;
}

img {
  border-radius: 9px 9px 0 0;
}

#qImg img{
  width: 200px;
  height:auto;
}

#qImg1 img{
  width: 200px;
  height:auto;
}

.options:hover{
  border : 2px solid rgb(245, 244, 244);
  font-weight: bold;
  background-color: rgb(174, 77, 77);
}

.options{
  border : 2px solid rgb(245, 244, 244);
  font-weight: bold;
  background-color: whitesmoke;
  font-size: 25px;
}

#gameTop{
  display: inline-block;
  vertical-align: middle;
}

#timeGauge{
  background-color: rgb(210, 46, 46);
  margin-top : 5px;
  margin-left : 175px;
  height : 15px;
  border-radius: 15px;
}
#progress{
  width : 500px;
  padding:5px;
  text-align: center;
}
.prog{
  width : 25px;
  height : 25px;
  border: 1px solid #e2dddd;
  display: inline-block;
  border-radius: 50%;
  margin-left : 5px;
  margin-right : 5px;
}