* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-size: 25px;
}

/* Body of the page */
body {
  text-align: center;
  background-color: rgb(59, 59, 57);
  font-family: 'Oswald', sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  width: 20%;
  display: block;
  transition: top 0.3s;
}

#navbar button {
  background-color: #ddd;
  border-style: solid;
  border-color: #02209a;
  float: left;
  display: block;
  color: #3b51ab;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 1em;
  margin: 5%;
}

#navbar button:hover {
  background-color: #ddd;
  color: rgb(143, 8, 8);
}

/* Landing page image */
/* The main div holding everything with hero image needed for zoom effect, code got from Love running video*/
#landingPage {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* The title of the game */
#gameTitle {
  font-size: 2em;
  padding-top: 5%;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* Hero image styling, giving a responsive design for landing page image */
#firstP img {
  height: auto;
  width: 80%;
  box-shadow: 0px 0px 10px 10px #3b51ab;

  /*Creates zoom effect for image, code from running loving video */
  animation-name: hero-zoom;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

/* Create a zoom effect for hero image, code from loving running video*/

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}
#secondP {
  padding-top: 3%;
}
/* Hero image styling, giving a responsive design for the second page image */
#secondP img {
  height: fit-content;
  width: 80%;
  box-shadow: 0px 0px 9px 9px #3b51ab;
  

  /*Creates zoom effect for hero, code from running loving video */
  animation-name: hero-zoom;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

/* Create a zoom effect for hero image, code from loving running video*/

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/* Code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_button_on_image*/
/* First page styling of the button */
#landingPage {
  position: relative;
  width: 100%;
}

/* Centers the button to the middle of the image */
#landingPage #begin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #3b51ab;
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#rulesPage {
  position: relative;
  width: 100%;
  display: none;
}

/* Centers the button to the middle of the image for the second page */
#rulesPage #rules {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #3b51ab;
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/*___________________________ Hover effect over the buttons____________________________________ */
#landingPage #begin:hover {
  background-color: whitesmoke;
  color: #3b51ab;
}

#landingPage #begin:hover {
  background-color: whitesmoke;
  color: #3b51ab;
}

#rulesPage #rules:hover {
  background-color: whitesmoke;
  color: #3b51ab;
}

#rulesPage #exist:hover {
  background-color: whitesmoke;
  color: #3b51ab;
}

#rulesPage #play:hover {
  background-color: whitesmoke;
  color: #3b51ab;
}

.close:hover,
.close:focus {
  color: #3b51ab;
  text-decoration: none;
  cursor: pointer;
}

/* Rules play button */
#rulesPage #play {
  background-color: #3b51ab;
  color: white;
  font-size: 18px;
  padding: 12px 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
}

/* Rules exist button */
#rulesPage #exist {
  background-color: #3b51ab;
  color: white;
  font-size: 18px;
  padding: 12px 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
}

/* _______________________________Modal code from w3schools___________________________________ */

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(37, 90, 169);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(176, 170, 170);
  margin: auto;
  border-radius: 25px;
  padding: 10px;
  border: 10px solid rgb(74, 99, 222);
  width: 60%;
  box-shadow: 8px 8px 8px 8px rgb(202, 203, 207), 20px 20px 20px 0 rgb(202, 203, 207);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.8s;
  animation-name: animatetop;
  animation-duration: 0.8s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: rgb(11, 11, 11);
  float: right;
  font-size: 25px;
  font-weight: bold;
}

/* The modal header */
.modal-header {
  padding: 2px 10px;
  background-color: rgba(176, 170, 170, 0.9);
  color: black;
}

/* The modal body */
.modal-body {
  padding: 2px 10px;
  background-color: rgba(176, 170, 170, 0.9);
  color: black;
}

/* The modal footer */
.modal-footer {
  padding: 2px 10px;
  background-color: rgba(176, 170, 170, 0.9);
  color: black;
}

/* The top of the game area */
#gameTop {
  flex-direction: row;
  vertical-align: middle;
  display: inline-block;
}

/* The clock for the game */
#counter {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: #0c0c0c;
  text-align: center;
  background: whitesmoke;
  margin-left: 130px;
}

/* The digit for the time */
#timer {
  text-align: center;
  color: black;
  padding-top: 2%;
}

/* The main game area */
#gameArea {
  display: none;
  border-left: 250px solid #3b51ab;
  border-right: 250px solid #3b51ab;
}

/* The question box for the game using flexbox */
.questions_box {
  display: flex;
  flex-direction: row;
  text-align: center;
  border-radius: 10px;
}

/* The option on the left of the screen */
.option-left {
  background-color: #0f1cc68d;
  padding: 2px;
  flex: 50%;
  float: right;
}

/* The option on the right of the screen */
.option-right {
  background-color: #0f1cc68d;
  padding: 2px;
  flex: 50%;
}

/* The question secton for the quiz */
#question {
  color: white;
  border: 2px solid #3b51ab;
  border-left: 240px solid #3b51ab;
  border-right: 240px solid #3b51ab;
  padding: 10px;
  font-size: 30px;
}

/* Card to hold the images on the right size */
.card_right {
  box-shadow: 0 4px 12px 0 rgba(245, 242, 242, 0.9);
  width: 210px;
  border-radius: 5px;
}

/* Card to hold the images on the left size */
.card_left {
  box-shadow: 0 4px 12px 0 rgba(245, 242, 242, 0.9);
  width: 210px;
  border-radius: 5px;
  float: right;
}

/* Border radius for the questions images and setting the width and height */
img {
  border-radius: 9px 9px 9px 9px;
  width: 200px;
  height: auto;
}

/* User answer options  */
.options {
  border: 2px solid rgb(245, 244, 244);
  font-weight: bold;
  background-color: whitesmoke;
  font-size: 25px;
}

/* Gauge that measures the time left  */
#timeGauge {
  background-color: rgba(192, 8, 8, 0.927);
  margin-top: 5px;
  margin-left: 80px;
  height: 15px;
  border-radius: 15px;
}

/* Progress section to let user know if it is right or wrong  */
#progress {
  padding: 2px;
  text-align: center;
}

/* Progress circles let user know if it is right or wrong  */
.prog {
  width: 18px;
  height: 18px;
  border: 2px solid #e2dddd;
  display: inline-block;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
}

/* The Modal (background) */
.modalResults {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-contentResults {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.closeResults {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Button styling */
button {
  background-color: #3b51ab;
  color: white;
  font-size: 18px;
  padding: 12px 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
}

#results #play:hover {
  background-color: whitesmoke;
  color: #3b51ab;
}

#results #exist {
  background-color: #3b51ab;
  color: white;
  font-size: 18px;
  padding: 12px 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
}

#results #exist:hover {
  background-color: whitesmoke;
  color: #3b51ab;
}

/* ______________________________________Media Queries_____________________________________________*/


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 430px) {
  .questions_box {
    flex-direction: column;
  }

  #gameArea {
    border-left: 5px;
    border-right: 5px;
    text-align: center;
  }

  #counter {
    text-align: center;
  }

  .option-left {
    float: none;
    padding-right: 25%;
  }

  .option-right {
    float: none;
    padding-left: 26%;
  }

  #landingPage #begin {
    font-size: medium;
  }
}

@media (max-width: 410px) {
  .questions_box {
    flex-direction: column;
  }

  #counter {
    text-align: center;
  }

  .option-left {
    float: none;
    padding-right: 35%;
  }

  .option-right {
    float: none;
    padding-left: 25%;
  }
}

@media (max-width: 415px) {
  #counter {
    margin-left: 135px;
  }

  .option-left {
    padding-right: 25%;
  }

  .option-right {
    float: none;
    padding-left: 24%;
  }

  #timeGauge {
    margin-top: 2px;
    margin-left: 50px;
  }

  #landingPage #begin {
    font-size: smaller;
    padding: 8px 14px;
  }
}

@media (max-width: 394px) {
  #counter {
    text-align: center;
  }

  .option-left {
    padding-right: 22%;
  }

  .option-right {
    float: none;
    padding-left: 25%;
  }
}

@media (max-width: 376px) {
  #counter {
    margin-left: 135px;
  }

  #timeGauge {
    display: none;
  }

  .option-left {
    padding-right: 22%;
  }

  .option-right {
    float: none;
    padding-left: 22%;
  }

}

@media (max-width: 361px) {
  #counter {
    margin-left: 135px;
  }

  #timeGauge {
    display: none;
  }

  .option-left {
    padding-right: 21%;
  }

  .option-right {
    float: none;
    padding-left: 21%;
  }

}

@media (max-width: 352px) {
  #counter {
    margin-left: 120px;
  }

  .option-left {
    padding-right: 20%;
  }

  .option-right {
    float: none;
    padding-left: 20%;
  }

  #landingPage #begin {
    font-size: x-small;
    padding: 5px 10px;
  }
}

@media (max-width: 348px) {
  #counter {
    margin-left: 130px;
  }

  #timeGauge {
    margin-top: 2px;
    margin-left: 0px;
  }

  .option-left {
    padding-right: 18%;
  }

  .option-right {
    float: none;
    padding-left: 21%;
  }

  #landingPage #begin {
    font-size: x-small;
    padding: 8px 5px;
  }
}

@media (max-width: 340px) {
  #counter {
    margin-left: 130px;
  }

  #timeGauge {
    margin-top: 2px;
    margin-left: 0px;
  }

  .option-left {
    padding-right: 19%;
  }

  .option-right {
    float: none;
    padding-left: 20%;
  }
}

@media (max-width: 335px) {
  #counter {
    margin-left: 145px;
  }

  #timeGauge {
    margin-top: 2px;
    margin-left: 0px;
  }

  .option-left {
    padding-right: 17%;
  }

  .option-right {
    float: none;
    padding-left: 19%;
  }

  #landingPage #begin {
    font-size: x-small;
    padding: 5px 3px;
  }
}

@media (max-width: 328px) {
  #counter {
    margin-left: 140px;
  }

  #timeGauge {
    margin-top: 2px;
    margin-left: 0px;
  }

  .option-left {
    padding-right: 18%;
  }

  .option-right {
    float: none;
    padding-left: 17%;
  }

  #landingPage #begin {
    font-size: x-small;
    padding: 5px 3px;
  }
}

@media (max-width: 780px) {
  #question {
    color: white;
    border: 2px solid #3b51ab;
    border-left: 10px solid #3b51ab;
    border-right: 10px solid #3b51ab;
    padding: 0px;
  }

  #landingPage #begin {
    font-size: medium;
  }

}

@media (max-width: 1176px) {

  #gameArea {
    border-left: 0px solid #3b51ab;
    border-right: 0px solid #3b51ab;
  }
}