* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }
  /* Body of the page */
  body{
    text-align: center;
    background-color: rgb(59, 59, 57);
  }
/* Landing page image */
/* The main div holding everything with hero image needed for zoom effect, code got from Love running video*/
#landingPage {
    height: auto;
    width:100%;
    overflow: hidden;
    position: relative;
  }
  /* Hero image styling, giving a responsive design */
  #firstP img {
    height: auto;
    width:80%;
    box-shadow: 0px 0px 10px 10px rgb(200, 1, 1);
  
    /*Creates zoom effect for hero, code from running loving video */
    animation-name:hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  
  /* Create a zoom effect for hero image, code from loving running video*/
  
  @keyframes hero-zoom {
    from{
      transform: scale(1);
    }
    to{
      transform: scale(1.1);
    }
  }

  /* Code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_button_on_image*/
  /* First page styling of the button */
  #landingPage {
    position: relative;
    width: 100%;
  }
   /* Centers the button to the middle of the image */
  #landingPage #begin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #cf6161e6;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  #landingPage #begin:hover {
    background-color: black;
  }
 /* Create a zoom effect for hero image, code from loving running video*/

   /* ---------------------------------------------------------------- */

   /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}